.logo {
    display: flex;
    align-items: center;

    .logo__title {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .logo__caption {
        display: block;
        margin-left: 15px;
        line-height: 15px;
    }

    a:hover {
        text-decoration: none;
    }
}